.contact-social {
    display: flex;
    justify-content: center;
}

.contact-social li {
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

li.linkedin, li.facebook, li.twitter, li.skype {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .right-column {
    float: none;
    margin: 0 auto;
}

.github-logo {
    position: absolute;
    top: 4%;
    right: 3%;
}

.fa-linkedin {
    color: antiquewhite;
}

.fa-skype {
    color: blue;
}

.thumb-name {
    display: flex;
    align-items: center;
}
.thumb-icon-github {
    margin: auto 0.75rem;
}

.projectLi {
    box-shadow: black 0px 0px 7px 2px;
}

.full-width {
    margin: 20px auto;
}

.main-info-list > li > a > span {
    text-decoration: underline !important;
}

.button-small.button-green:hover {
    box-shadow: 0px 0px 5px 1px #404040;
}